﻿@model ICollection<GestaoFornecedor.Domain.Contato>

<div class="col-md-12" style="font-size: 11px !important; border: 1px solid #e6e6e6;">
    <h3 style="margin-bottom = 5px">Contatos</h3>
    <table id="tabelaContato" class="table display">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var contato in Model)
            {
                <tr>
                    <td> @contato.Nome</td>
                    <td>@contato.Email</td>
                    <td class="Telefone">@contato.Telefone</td>
                    <td>
                        <button class="btn btn-primary btn-xs editar" data-id="@contato.Id">Editar</button>
                        @Html.ActionLink("Excluir", "Delete", "Contato", new { id = contato.Id },
                             new { onclick = "return confirm('Deseja excluir o contato?');", @class = "btn btn-danger btn-xs" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#tabelaContato').DataTable({
            "language": {
                "info": "Exibindo página _PAGE_ de _PAGES_",
                "infoEmpty": "Não foi encontrado registros",
                "search": "Buscar",
            },
            "scrollY": "140px",
            "scrollCollapse": true,
            "paging": false

        });
    });

    // Modal
    $(function () {
        $(".editar").click(function () {
            var id = $(this).attr("data-id");
            $("#modalContatoEdicao").load("/Contato/EditarContato?id=" + id, function () {
                $("#modalContatoEdicao").modal();
            })
        });
    })
</script>