﻿@model GestaoFornecedor.Domain.Contato

@{
    Layout = null;
}

<!-- Modal -->
<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Editar Contato</h4>
        </div>
        @using (Html.BeginForm("EditarContato", "Contato", FormMethod.Post))
        {
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label for="Nome">Nome</label>
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control",
                            value = "model.Nome" } })
                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label for="Telefone">Telefone</label>
                        @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control Telefone",
                            value = "model.Telefone" } })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="Email">E-mail</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control",
                            @value="model.Email" } })
                        @Html.Hidden("Id", Model.Id)

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="Salvar" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
            </div>
        }
    </div>
</div>