﻿@model GestaoFornecedor.Domain.Fornecedor

@{
    ViewBag.Title = "Cadastrar";
}

<h3>Cadastrar Fornecedor</h3>

@if (ViewBag.Sucesso != null)
{
    <div class="alert alert-success alert-dismissible fade in" style="margin-top: 5px">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @ViewBag.Sucesso
    </div>
}
else if (ViewBag.Erro != null)
{
    <div class="alert alert-danger alert-dismissible fade in" style="margin-top: 5px">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @ViewBag.Erro
    </div>
}

@using (Html.BeginForm("Cadastrar", "Fornecedor", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="Nome">Nome</label>
                @Html.EditorFor(fornecedor => fornecedor.Nome, new { htmlAttributes = new { @class = "form-control input-sm" } })
                @Html.ValidationMessageFor(fornecedor => fornecedor.Nome, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-offset-1 col-md-3 checkbox">
                <label for="Status">Ativo</label>
                @Html.CheckBox("Status", true)
            </div>
            <div class="form-group col-md-4">
                <label for="Estado">Estado</label>
                @Html.DropDownList("Estado", (IEnumerable<SelectListItem>)ViewBag.PriorityID, new { @class = "form-control input-sm", @id = "Estado" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="Cidade">Cidade</label>
                <select id="CidadeId" name="CidadeId" class="form-control input-sm">
                    <option selected="selected" value=""></option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="DataInicioContrato">Data Inicio Contrato</label>
                <input type="text" class="form-control data input-sm" id="DataInicioContrato" name="DataInicioContrato" />
                @Html.ValidationMessageFor(fornecedor => fornecedor.DataInicioContrato, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3">
                <label for="DataFinalContrato">Data Fim Contrato</label>
                <input type="text" class="form-control data input-sm" id="DataFinalContrato" name="DataFinalContrato" />
                @Html.ValidationMessageFor(fornecedor => fornecedor.DataFinalContrato, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3">
                <label for="ValorMaximoPorDemanda">Valor máximo Por Demanda</label>
                @Html.EditorFor(fornecedor => fornecedor.ValorMaximoPorDemanda, new { htmlAttributes = new { @id = "ValorMaximoPorDemanda", @class = "form-control input-sm" } })
            </div>
        </div>

        <div class="row" style="font-size: 11px !important; border: 1px solid #e6e6e6; margin: 5px">
            <h3>Contato</h3>
            <div class="col-md-6">
                <label for="NomeContato">Nome</label>
                <input type="text" class="form-control input-sm" id="NomeContato" name="NomeContato" />
            </div>
            <div class="col-md-6">
                <label for="Telefone">Telefone</label>
                <input type="text" class="form-control input-sm Telefone" id="Telefone" name="Telefone" />
            </div>
            <div class="col-md-6">
                <label for="Email">Email</label>
                <input type="text" class="form-control input-sm" id="Email" name="Email" />
                <br />
            </div>
        </div>

        <div class="row">
            <input type="submit" class="btn btn-primary" value="Salvar" />
            <a href="/fornecedor/index" class="btn btn-default">Voltar</a>
        </div>
    </fieldset>
}


<asp:Content ID="Javascript" ContentPlaceHolderID="HeadContent" runat="server">
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Estado").change(function () {
                //listaCidade($(this).val());
                $("#Cidade").empty();
                listarCidades();
            });
        });
        function listarCidades() {
            $.ajax({
                'method': 'GET',
                'url': '@Url.Action("ListaCidade", "Fornecedor")',
                'type': 'application/json',
                data: {
                    id: $('#Estado').val()
                },
                success: function (response) {
                    $(response).each(function () {
                        $("#CidadeId").append("<option value='" + this.Id + "'>" + this.Nome + "</option>");
                    });
                },
                error: function () {

                }
            });
        }

        $(document).ready(function () {
            $('.data').mask('99/99/9999');
            $('#ValorMaximoPorDemanda').mask('99,99');
            $('.Telefone').mask('99-9999-9999');
        });
    </script>
</asp:Content>


