﻿@model GestaoFornecedor.Domain.Fornecedor

@{
    ViewBag.Title = "Editar";
}

<div class="row">
    <br />
    <b>Editar @Model.Nome</b>
    <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#modalContato">Novo Contato</button>
</div>
@if (ViewBag.Sucesso != null)
{
    <div class="alert alert-success alert-dismissible fade in" style="margin-top: 5px">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @ViewBag.Sucesso
    </div>
}
else if (ViewBag.Erro != null)
{
    <div class="alert alert-danger alert-dismissible fade in" style="margin-top: 5px">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @ViewBag.Erro
    </div>
}

<form action="/Fornecedor/Editar/@Model.Id" method="post">

    <div class="row">
        <div class="col-md-4 form-group">
            <label for="Nome">Nome</label>
            <input type="text" value="@Model.Nome" class="form-control input-sm" id="Nome" name="Nome" />
            @Html.ValidationMessageFor(fornecedor => fornecedor.Nome, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-offset-1 col-md-3 form-group checkbox">
            <label for="Status">Ativo</label>
            @Html.CheckBox("Status")
        </div>
        <div class="form-group col-md-4">
            <label for="Estado">Estado</label>
            @Html.DropDownList("Estado", (IEnumerable<SelectListItem>)ViewBag.PriorityID, new { @class = "form-control input-sm", @id = "Estado" })

        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label for="Cidade">Cidade</label>
            <select id="CidadeId" name="CidadeId" class="form-control input-sm">
                <option value="@Model.CidadeId">@Model.Cidade.Nome</option>
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label for="DataInicioContrato">Data Inicio Contrato</label>
            @Html.TextBoxFor(m => m.DataInicioContrato, "{0:dd/MM/yyyy}", new { @class = "form-control input-sm data", @id = "DataInicioContrato", @name = "DataInicioContrato" })
            @Html.ValidationMessageFor(fornecedor => fornecedor.DataInicioContrato, "", new { @class = "text-danger" })

        </div>
        <div class="col-md-3 form-group">
            <label for="DataFinalContrato">Data Fim Contrato</label>
            @Html.TextBoxFor(m => m.DataFinalContrato, "{0:dd/MM/yyyy}", new { @class = "form-control input-sm data", @id = "DataFinalContrato", @name = "DataFinalContrato" })
            @Html.ValidationMessageFor(fornecedor => fornecedor.DataFinalContrato, "", new { @class = "text-danger" })

        </div>
        <div class="col-md-3 form-group">
            <label for="ValorMaximoPorDemanda">Valor máximo Por Demanda</label>
            @Html.EditorFor(fornecedor => fornecedor.ValorMaximoPorDemanda, new { htmlAttributes = new { @id = "ValorMaximoPorDemanda", @class = "form-control input-sm" } })
        </div>
    </div>
    <div class="row">
        <hr />
        <div class="col-md-6 form-group">
            <input type="submit" class="btn btn-primary" value="Salvar" />
            <a href="/fornecedor/index" class="btn btn-default">Voltar</a>
        </div>
    </div>
</form>

@if (Model.Contato.ToList().Count() > 0)
{
    @Html.Partial("~/Views/Contato/_TabelaContato.cshtml", Model.Contato)

    <div class="modal fade" id="modalContatoEdicao" role="dialog">
    </div>

}


<!-- Modal -->
<div class="modal fade" id="modalContato" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Novo Contato</h4>
            </div>
            @using (Html.BeginForm("CreateContato", "Contato", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="Nome">Nome</label>
                            <input type="text" id="Nome" name="Nome" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label for="Telefone">Telefone</label>
                            <input type="text" id="Telefone" name="Telefone" class="form-control Telefone" />
                            @ViewBag.Contato.Nome
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="Email">E-mail</label>
                            <input type="text" id="Email" name="Email" class="form-control" />
                        </div>
                    </div>
                    @Html.Hidden("FornecedorId", Model.Id)
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Salvar" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
                </div>
            }
        </div>
    </div>
</div>

<asp:Content ID="Javascript" ContentPlaceHolderID="HeadContent" runat="server">
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Estado").change(function () {
                //listaCidade($(this).val());
                $("#CidadeId").empty();
                listarCidades();
            });
        });

        function listarCidades() {
            $.ajax({
                'method': 'GET',
                'url': '@Url.Action("ListaCidade", "Fornecedor")',
                'type': 'application/json',
                data: {
                    id: $('#Estado').val()
                },
                success: function (response) {
                    $(response).each(function () {
                        $("#CidadeId").append("<option value='" + this.Id + "'>" + this.Nome + "</option>");
                    });
                },

                error: function () {

                }
            });
        }
        $(document).ready(function () {
            $('.data').mask('99/99/9999');
            $('#ValorMaximoPorDemanda').mask('99,99');
            $('.Telefone').mask('99-9999-9999');
            var valor = $('#ValorMaximoPorDemanda').val();
            if (true) {

            }
        });

    </script>
</asp:Content>