﻿@model List<GestaoFornecedor.Domain.Fornecedor>

@{
    ViewBag.Title = "XYZ – Logistica e Transportes";
}


<h2>Fornecedores</h2>
<a href="/fornecedor/cadastrar" class="btn btn-success">Cadastrar</a>
<br /><br />

<div class="col-md-12">
    <table id="tabelaFornecedor" class="table display">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Estado</th>
                <th>Cidade</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var fornecedor in Model)
            {
                <tr>
                    <td> @fornecedor.Nome</td>
                    <td>@fornecedor.Cidade.Estado.Nome</td>
                    <td>@fornecedor.Cidade.Nome</td>
                    
                    @if (fornecedor.Status == true)
                    {
                        <td>Ativo</td>
                    }
                    else
                    {
                        <td>Inativo</td>
                    }
                        <td>
                            @Html.ActionLink("Editar", "Editar", new { id = @fornecedor.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Excluir", "Delete", new { id = @fornecedor.Id },
                                new { onclick = "return confirm('Deseja excluir o fornecedor?');", @class = "btn btn-danger" })
                        </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="ModalDelete" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Excluir</h4>
            </div>
            <div class="modal-body">
                <p>Deseja excluir o fornecedor?</p>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Cancela</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#tabelaFornecedor').DataTable({
            "language": {
                "lengthMenu": "Exibir _MENU_ por página",
                "zeroRecords": "Não foi encontrado registros",
                "info": "Exibindo página _PAGE_ de _PAGES_",
                "infoEmpty": "Não foi encontrado registros",
                "search": "Buscar",
                "paginate": {
                    "previous": "Anterior ",
                    "next": " Próxima"
                }
            }
        });
    });
</script>